python-dotenv
Django==3.2.8
django-ckeditor==6.1.0
django-constance==2.8.0
django-phone-field
pytils==0.3
Pillow==8.4.0
sorl-thumbnail==12.7.0
django-allauth==0.46.*
apscheduler
django-redis
celery
twilio
channels
channels-redis