{% extends 'main/base.html' %}

{% block content %}

  <!-- {% for ad in object_list %}
    <tr>{{ ad.name}}</tr>
  {% endfor %} -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    {% for ad in object_list %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><li><a href="#">{{ ad.name }}</a></li></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>

{% endblock %}