{% extends 'main/base.html' %}


{% block content %}

  <div class="container-xxl">

    <div class="row">

      <div class="col-9">
        {% for ad in object_list %}
          <div class="ad-section">
            <div class="row">
              <div class="col-5">
                {% for picture in ad.adpicture_set.all %}
                  <img src="{{ picture.image.url }}" width=100%, alt="Картинка">
                {% endfor %}
              </div>
              <div class="col-4">
                <h3><a href="{% url 'ad-detail' slug=ad.id %}">{{ ad.name}}</a></h3>
                <p>{{ ad.description }}</p>
                <p>Стоимость {{ ad.price }} руб.</p>
                <p>Опубликовано: {{ ad.created_at }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{% url 'ad-list' %}?seller={{ request.user }}&tag={{ request.GET.tag }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'ad-list' %}?seller={{ request.user }}&tag={{request.GET.tag}}&page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="{% url 'ad-list' %}?seller={{ request.user }}&tag={{request.GET.tag}}&page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>

      </div>

      <div class="col-3">
        <div class="filter-section position-fixed">

          <form class="d-flex" style="padding-bottom: 20px">
            <form action="{% url 'ad-list' %}" method="post">
              <input class="form-control me-2" type="search" name="query" placeholder="Искать по названию" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </form>

          <ul>
            {% for tag in tags %}
              <li><a href="{% url 'ad-list' %}?tag={{ tag }}">{{ tag}}</a></li>
            {% endfor %}
          </ul>

        </div>
      </div>

    </div>

  </div>


{% endblock %}
