{% extends 'main/base.html' %}


{% block content %}
  <form action="{% url 'seller-info' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ user_form.as_p }}

    <h3>Ваши подписки:</h3>
    <p>Кликните, чтобы отписаться</p>
    {% for category in subscription.category.all %}
      <li>
        <button class="btn btn-secondary btn-sm" type="submit" name="subscription" value="{{ category }}">{{ category }}</button>
      </li>
    {% endfor %}

    <button type="submit">Update</button>
  </form>


{% endblock %}